header {
    background-color: #473c33;
    height: 50px;
    h1 {
        color: white;
        font-weight: 400;
        font-style: italic;
        display: inline-block;
        position: relative;
        margin-left: 10px;
    }
}