nav {
    background-color: #fda769;
    margin-bottom: 20px;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        li {
            flex-grow: 1;
            a {
                color: white;
                text-decoration: none;
                padding: 3px 6px;
                display: block;
                text-align: center;
                &:hover {
                    background-color: #f7b587;
                }
                &.activo {
                    background-color: #ff8f40;
                }
            }
        }
    }
}