.contacto {
    display: flex;
    gap: 24px;
    div {
        width: 100%;
    }
}

.datos {
    p {
        font-size: 14px;
    }
    ul li {
        font-size: 13px;
    }
}

.formulario {
    p {
        display: flex;
        label {
            min-width: 80px;
            display: flex;
            align-items: center;
        }
        input, textarea {
            width: 100%;
            background: #ddd;
            border-radius: 5px;
            border: 1px solid #999;
            font-size: 14px;
            padding: 6px 10px;
        }
        &:nth-child(4) {
            align-items: start;
        }
    }
    textarea {
        resize: none;
        height: 150px;
    }
    input[type="submit"] {
        background: #fda769;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        color: white;
        font-size: 16px;
        padding: 6px 20px;
        width: auto;
        position: relative;
        left: 80px;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
            background-color: #f7b587;
        }
    }
}